<div class="footer">
		<div class="wrap">
			<div class="nav clearfix">
				<a href="">返回首页</a>
				<i></i>
				<a href="clause.php">条款</a>
				<i></i>
				<a href="">文档</a>
				<i></i>
				<a href="aboutus.php">关于我们</a>
				<i></i>
				<a href="">联系我们</a>
				<i></i>
				<div class="switchlang" style="box-sizing:content-box;">
					<div class="curlang">
						<div class="text" style="box-sizing:content-box;">
							简体中文
						</div>
						<i></i>
					</div>
					<ul>
						<li style="box-sizing:content-box;">简体中文</li>
						<li style="box-sizing:content-box;">English</li>
					</ul>
				</div>
			</div>
			<p class="copy">
				Copyright&nbsp;&copy;&nbsp;2013-2014&nbsp;UbiRouting,&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;北京识途科技有限公司&nbsp;京ICP备15020661号&nbsp;.&nbsp;版权所有
			</p>
			<div class="wechat">
				<img src="http://ubirouting.com/img/wechat-qr.png">
				<p>扫一扫，加微信</p>
			</div>
			<div class="wechat-float" style="display: none;"></div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/ubirouting.js"></script>
	<script type="text/javascript" src="js/jquery.pin.min.js"></script>
</body>

</html>
